@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: Syne;
  src: url('/syne.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Outfit;
  src: url('/outfit.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

:root {
  font-size: 200%;
  @apply tracking-wide;
  /* Eyeballed lighter extrapolation of --color-base */
  background-color: oklch(0.29 0.02 256.44);
}

@theme {
  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --animate-fall: fall 2s var(--ease-out-quad) infinite;
  --text-xs: .625rem;
  --default-font-family: Outfit, serif;

  @keyframes fall {
    from {
      bottom: 100%;
      height: 50%;
    }
    to {
      bottom: -5%;
      height: 5%;
    }
  }
}

@utility muted {
  @apply text-gray-400;
}

@utility animate-reverse {
  animation-direction: reverse;
}

/* TODO: Include only what I need!
 * See https://v5.daisyui.com/docs/config/ */
