@import "tailwindcss";
@plugin "daisyui";

:root {
  font-size: 200%;
}

@theme {
  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --animate-fall: fall 2s var(--ease-out-quad) infinite;
  --text-xs: .625rem;

  @keyframes fall {
    from {
      bottom: 100%;
      height: 50%;
    }
    to {
      bottom: -5%;
      height: 5%;
    }
  }
}

@utility muted {
  @apply text-gray-400;
}

@utility animate-reverse {
  animation-direction: reverse;
}

/* TODO: Include only what I need!
 * See https://v5.daisyui.com/docs/config/ */
